html,body{
    height: 100%;
}
body{
    margin: 0;
}
section{
    height: 100%;
}
header , section{
    display: flex;
    justify-content: center;
    align-items: center;

}
header{
    position: fixed;
    background-color: rgb(179, 17, 101);
    width: 100%;
    height: 50px;
    gap: 5%;
}

header button{
    background-color: white;
    border: none;
    cursor: pointer;
}



#options , #close{
    display: none;
    position: absolute;
    z-index: 1;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

footer{
    height: 20%;
}


